@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 640px) {
  body {
    width: 100%;
    height: 100%;
  }
}

.Flex.epr-preview.FlexRow {
  display: none;
}

audio.mainaudio {
  width: 100%;
}

audio.mainaudio::-webkit-media-controls-current-time-display,
audio.mainaudio::-webkit-media-controls-time-remaining-display {
  color: white;
  font-size: 16px;
  opacity: 1;
  font-weight: 500;
  text-shadow: none;
}

audio.mainaudio::-webkit-media-controls-enclosure {
  background: none;
}

audio.mainaudio::-webkit-media-controls-volume-control-container {
  display: none;
}

audio.mainaudio::-internal-media-controls-overflow-button {
  display: none;
}

audio.mainaudio::-webkit-media-controls-timeline[pseudo="-webkit-media-controls-timeline" i]::-internal-track-segment-highlight-before {
  background: rgb(68 160 255 / var(--tw-bg-opacity));
}
